body{
    font-family: Inter;

}
.wrapper {
}
.prev {
    background: none;
    border: 0;
}
.calendar__information {
}
.next {
    background: none;
    border: 0;
}
.days__of__week {
}
.calendar__el {
}